* {
    margin: 0;
    padding: 0;
    font-family: 'Nonito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* End of BODY start of HEADER  */

header {
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid rgba(33, 33, 33, );
    background-color: rgba(0, 0, 22, 0.034);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

img {
    height: 80%;
    opacity: 0.6;
}

img:hover {
    opacity: 1;
}

/* End of HEADER Start of MAIN */
main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
}

.block {
    background-color: rgba(184, 166, 166, 0.);
    width: 70%;
    text-align: center;
}

.block:hover {
    background-color: rgba(0, 60, 128, 0.75);
    transition: 230ms ease-in;

}

* p {
    color: white;
}

.block>h1 {
    color: white;
    width: auto;
}

.background {
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    width: 100%;
    height: 650px;
    font-family: sans-serif;
    width: 100%;
    padding: 1em;
    color: white;
}

.background:hover {
    background-color: rgba(0, 60, 128, 0.75);
    transition: 230ms ease-in;
}


.form-header {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 1em;
}

* input, .background input[type="submit"] {
    color: white;
    background-color: white;
    padding: 1.2em;
}

.background input {
    /* color: white; */
    border: 1px solid white;
    width: 100%;
    padding: 5px;
    background: transparent;
}

.background input[type="submit"] {
    /* background: white; */
    color: black;
    padding: 1.2em;
    cursor: pointer;
}



input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
    padding: 0.5em;
}


fieldset {
    border: none;
    margin: 1em;
}


/* End of MAIN start of FOOTER */


 /* FIX FOOTER WHEN QUERY OVERLAP */
footer {
    background-color: rgba(0, 60, 128, 0.75);
    height: 10vh;
    width: 100%;
    border-top: 1px solid rgb(33, 33, 33);
}

/* End of FOOTER start of querys */

@media (min-width:800px) {

    main {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .background {
        width: 45%;
    }

    .background:hover {
        background-color: rgba(0, 60, 128, 0.75);
        transition: 230ms ease-in;
    }

    input {
        cursor: pointer;
        width: 40%;
    }

}

@media (min-width: 700px) {

    .background {
        width: 50%;
    }

    .background:hover {
        background-color: rgba(0, 60, 128, 0.75);
        transition: 230ms ease-in;
    }
}

@media (min-width: 500px) {

    .background {
        width: 50%;
    }
}