* {
    margin: 0;
    padding: 0;
    font-family: 'Nonito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* End of BODY start of HEADER  */

header {
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid rgba(33, 33, 33, );
    background-color: rgba(0, 0, 22, 0.034);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

img {
    height: 80%;
}

/* End of HEADER Start of MAIN */

h1 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.background {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: rgba(0.3, 30, 30, 30, 0.3);
    font-family: sans-serif;
}

.form-container {
    position: absolute;
    width: 80%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(24, 24, 24);
    box-shadow: 2px 2px 2px;
}

.form-header {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 1em;
}

.form-table {
    color: white;
    width: 80%;
    margin-left: 10%;
}

.form-table input {
    padding: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
}

.form-table input[type="submit"] {
    background: white;
    color: black;
    padding: 1em;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"]:hover {
    cursor: pointer;
}

fieldset {
    border: none;
}


/* End of MAIN start of FOOTER */

footer {
    height: 10vh;
    background-color: black;
    border-top: 1px solid rgb(33, 33, 33);
    opacity: 0.7;
}

/* End of FOOTER start of querys */

@media (min-width:800px) {

    input[type=email],
    input[type="text"],
    input[type="tel"],
    input[type="date"]:hover,
    [type=password]:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px grey;
    }


    @media (min-width: 500px) {

        .form-container {
            width: 500px;
            height: 500px;
        }
    }

    @media (min-width: 700px) {

        .form-container {
            width: 650px;
            height: 500px;
        }
    }
}