* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --blue_hover: rgba(0, 60, 128, 0.75);
    --black_hover: rgba(0.3, 30, 30, 30, 0.7);
    --white: rgb(255, 250, 250);
    --dark_border: 1px solid rgb(33, 33, 33);
    --blur: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65))
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65)), url(/images/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

* p,
a,
h3,
h2,
h1 {
    color: #ffffff;
    text-decoration: none;
}
/* End of BODY start of HEADER  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid rgb(33, 33, 33);
    background-color: var(--black_hover);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    margin-bottom: 0.2em;
}

.logo_black {
    height: 3em;
    width: 5em;
    opacity: 0.6;
    border-radius: 0.3em;
}


.link {
    text-decoration: none;
    background-color:var(--blur);
    position: relative;
}

.link::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
}
.link:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

/* End of HEADER Start of MAIN */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100%;
    width: 80%;
    margin: 0.5em;
}

.block,
.block-day {
    background-color: rgba(184, 166, 166, 0.);
    width: 70%;
    text-align: center;
    margin: 0.5em;
}


.block>h1,
.block-day>h3 {
    color: #ffffff;
    width: auto;
    text-align: center;
}

.background {
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    width: 100%;
    height: 720px;
    font-family: sans-serif;
    width: 100%;
    padding: 1em;
    color: #ffffff;
}

.form-header {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 0.5em;
}

.background input {
    border: 1px solid #ffffff;
    width: 100%;
    padding: 5px;
    background: transparent;
    color-scheme: dark;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
    padding: 0.5em;
}

button {
    background-color: #ffffff;
    padding: 1em;
    width: 100%;
}

fieldset {
    border: none;
    margin: 1em;
}

.buttons__block {
    padding: 1%;
}

.price {
    text-align: center;
}

/* End of MAIN start of FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    bottom: 0;
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    height: 10vh;
    width: 100%;
    border-top: 1px solid rgb(33, 33, 33);
}
.logo_white {
    height: 3em;
    width: 5em;
    opacity: 0.6;
    border-radius: 0.3em;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    opacity: 0.6;
}

section {
    font-size:65%;
}

/* End of FOOTER start of querys */
@media (min-width: 1100px) {
    main {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .background {
        width: 55%;
    }

    img:hover {
        opacity: 1;
    }

    input {
        cursor: pointer;
        width: 40%;
        color-scheme: dark;
    }

    button:hover {
        cursor: pointer;
        background-color: #008000;
        transition: 350ms;
        color: #ffffff;
    }
    .icon {
        height: 3em;
        width: 3em;
        opacity: 0.6;
    }
    
    section {
        font-size: 95%;
    }

}

@media (max-width: 500px) {

    main {
        width: 90%;
    }

    button {
        width: 100%;
    }

}