* {
    margin: 0;
    padding: 0;
    font-family: 'Nonito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Landing/images/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* End of BODY start of HEADER  */

header {
    height: 8vh;
    border-bottom: 1px solid rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-color: black;
    opacity: 0.6;
}

img {
    opacity: 1;
    height: 80%;
    margin-left: 1em;
}

/* End of HEADER Start of MAIN */

h1 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* 
.background{
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: rgba( 0.3 , 30,30,30, 0.3);
    font-family: sans-serif; */
/* } */
a.button {
    margin-top: 1em;
    width: 1em;
    height: 1em;
    background-color: green;
    padding: 1em;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 0.3em;
}

.form-container {
    position: absolute;
    width: 80%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(24, 24, 24);
    box-shadow: 2px 2px 2px;
    /* display: none; */
}

.close {
    position: absolute;
    margin-right: 1px;
    margin-top: 1px;
}

.form-header {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 1em;
}

.form-table {
    color: white;
    width: 80%;
    margin-left: 10%;
}

.form-table input {
    padding: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
}

.form-table input[type="submit"] {
    background: white;
    color: black;
    padding: 1em;
    cursor: pointer;
}



input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
}
input[type="radio"], input[type="checkbox"]:hover {
    cursor: pointer;
}

fieldset {
    border: none;
}


/* End main start footer */





/* End of MAIN start of FOOTER */

footer {
    height: 10vh;
    background-color: black;
    border-top: 1px solid rgb(33, 33, 33);
    opacity: 0.7;
}

/* End of FOOTER start of querys */

@media (min-width:800px) {

    input[type=email],
    input[type="text"],
    input[type="tel"],
    input[type="date"]:hover,
    [type=password]:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px grey;
    }

    .box {
        width: 30%;
        margin: 5px auto;
        background-color: #050517;
        padding: 5px;
    }

    @media (min-width: 500px) {

        .form-container {
            width: 500px;
            height: 500px;
        }
    }

    @media (min-width: 700px) {

        .form-container {
            width: 650px;
            height: 500px;
        }
    }
}