* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --blue_hover: rgba(0, 60, 128, 0.75);
    --black_hover: rgba(0.3, 30, 30, 30, 0.7);
    --white: rgb(255, 250, 250);
    --dark_border: 1px solid rgb(33, 33, 33);
    --blur: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65))
}
/* :root adderades i ett senare skede för att kunna enkelt addera variabler, detta visade sig vara ett misstag när jag senare skulle koppla allt. jag skulle gjort detta från första början, läxan lärd till nästa gång */

* p,
a,
h1,
h3 {
    color: var(--white);
}

main>h1 {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 0.5em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65)), url(/static/images/pexels-neo-2653362.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* End of BODY start of HEADER  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid rgb(33, 33, 33);
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    margin-bottom: 0.2em;
}

.logo_black {
    height: 3em;
    width: 5em;
    opacity: 0.6;
    border-radius: 0.3em;
}
.link {
    text-decoration: none;
    background-color: var(--blur);
    position: relative;
}

/* End of HEADER Start of MAIN */
main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.7em;
    width: 80%;
    border-radius: 0.3em;
}

.block {
    background-color: rgba(184, 166, 166, 0.);
    width: 70%;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    border: solid 1px rgba(0.3, 30, 30, 30);
}

.block-event {
    margin: auto;
}

.block>h1,
.block-event>h3 {
    color: var(--white);
    width: auto;
}

.background {
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    width: 70%;
    height: 450px;
    font-family: sans-serif;
    padding: 1em;
    color: white;
}

.block-person>.Persona {
    width: 250px;
    height: 250px;
    opacity: 1;
    border-radius: 6em;
}

/* Forms Relaterade Klasser */
.form-header {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 0.5em;
}

* input,
.background input {
    border: 1px solid white;
    width: 100%;
    padding: 5px;
    background: transparent;
    color-scheme: dark;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
    padding: 0.5em;
}

.allergi>input {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
    text-align: start;
}

fieldset {
    border: none;
    margin: 1em;
}

button {
    background-color: white;
    padding: 1em;
    width: 100%;
}

/* End of MAIN start of FOOTER */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    bottom: 0;
    background-color: rgba(0.3, 30, 30, 30, 0.7);
    height: 10vh;
    width: 100%;
    border-top: 1px solid rgb(33, 33, 33);
}

.logo_white {
    height: 3em;
    width: 5em;
    opacity: 0.6;
    border-radius: 0.3em;
}
.icon {
    height: 1.5em;
    width: 1.5em;
    opacity: 0.6;
}

section {
    font-size:65%;
}

/* End of FOOTER start of querys */
@media (min-width:581px) {
    .main {
        background-color: rgba(0.3, 30, 30, 30, 0.7);
        width: 15%;
        height: 450px;
        font-family: sans-serif;
        padding: 1em;
        color: white;
    }

    img:hover {
        opacity: 1;
    }

    input {
        cursor: pointer;
        width: 40%;
        color-scheme: dark;
    }
    .link {
        text-decoration: none;
        background-color: var(--blur);
        position: relative;
    }
    
    .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 200ms ease-in;
    }
    
    .link:hover::after {
        transform: scaleX(1);
        transform-origin: right;
    }
    button:hover {
        cursor: pointer;
        background-color: green;
        transition: 350ms;
        color: white;
    }
    .icon {
        height: 3em;
        width: 3em;
        opacity: 0.6;
    }
    
    section {
        font-size: 95%;
    }

}

@media (max-width: 580px) {

    .main {
        width: 50%;
    }
}